@import '../../../../theme/variables.scss';

$avatar-size: map-get($ptcg-size, avatar);

:host {
  width: 100%;
}

.ptcg-user-bar {
  position: relative;

  &.marked .ptcg-user-name {
    text-decoration: none;
  }

  &.clickable ptcg-avatar,
  &.clickable .ptcg-user-name-text {
    cursor: pointer;
  }
}

.ptcg-badge {
  background-color: red;
}

ptcg-avatar {
  padding-left: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.ptcg-user-info {
  padding-left: 10px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-left: map-get($ptcg-size, avatar);
  justify-content: center;
  padding: 0 map-get($padding, small);
}

.ptcg-user-name {
  padding-left: 10px;
  overflow: hidden;
  color: #FFFFFF;
  text-overflow: ellipsis;
}

.ptcg-user-ranking {
  padding-left: 10px;
  align-items: center;
  color: #FFFFFF;
  display: flex;
}