@import '../theme/variables.scss';


:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  >mat-sidenav-container {
    flex: 1 1;
    z-index: unset;
    background-color: #1A202C;
  }

  >mat-sidenav-container>mat-sidenav-content {
    z-index: unset;
  }
}

.ptcg-app-sidenav {
  width: map-get($ptcg-size, nav-menu);
}