.ptcg-energy {
  background-image: url(~src/assets/energy-types.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  margin: 1px 1px;
  width: 25px;

  &[type="grass"] {
    background-position: -25px -50px;
  }

  &[type="fighting"] {
    background-position: -50px -25px;
  }

  &[type="psychic"] {
    background-position: -75px -25px;
  }

  &[type="water"] {
    background-position: -75px -50px;
  }

  &[type="lightning"] {
    background-position: -25px -25px;
  }

  &[type="metal"] {
    background-position: -75px 0;
  }

  &[type="darkness"] {
    background-position: 0 -50px;
  }

  &[type="fire"] {
    background-position: 0 0;
  }

  &[type="dragon"] {
    background-position: 0 -25px;
  }

  &[type="fairy"] {
    background-position: -50px 0;
  }

  &[type="colorless"] {
    background-position: -25px 0;
  }

  &[type="energyless"] {
    background-position: -50px -50px;
  }
}

.ptcg-archetype {
  background-image: url(~src/assets/energy-types.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  margin: 0 0px;
  width: 25px;

  &[archetype="charizard"] {
    width: 44px;
    height: 39px;
    background-image: url(~src/assets/archetypes/charizard.png);
  }

  &[archetype="pidgeot"] {
    width: 34px;
    height: 35px;
    background-image: url(~src/assets/archetypes/pidgeot.png);
  }

  &[archetype="arceus"] {
    width: 35px;
    height: 41px;
    background-image: url(~src/assets/archetypes/arceus.png);
  }

  &[archetype="giratina"] {
    height: 44px;
    width: 39px;
    background-image: url(~src/assets/archetypes/giratina.png);
  }

  &[archetype="chien-pao"] {
    width: 42px;
    height: 30px;
    background-image: url(~src/assets/archetypes/chien-pao.png);
  }

  &[archetype="baxcalibur"] {
    width: 33px;
    height: 32px;
    background-image: url(~src/assets/archetypes/baxcalibur.png);
  }

  &[archetype="comfey"] {
    width: 31px;
    height: 34px;
    background-image: url(~src/assets/archetypes/comfey.png);
  }

  &[archetype="sableye"] {
    width: 31px;
    height: 30px;
    background-image: url(~src/assets/archetypes/sableye.png);
  }

  &[archetype="raging-bolt"] {
    width: 39px;
    height: 44px;
    background-image: url(~src/assets/archetypes/raging-bolt.png);
  }

  &[archetype="solrock"] {
    width: 30px;
    height: 31px;
    background-image: url(~src/assets/archetypes/solrock.png);
  }

  &[archetype="lunatone"] {
    width: 18px;
    height: 24px;
    background-image: url(~src/assets/archetypes/lunatone.png);
  }

  &[archetype="kyurem"] {
    width: 47px;
    height: 31px;
    background-image: url(~src/assets/archetypes/kyurem.png);
  }

  &[archetype="murkrow"] {
    width: 22px;
    height: 28px;
    background-image: url(~src/assets/archetypes/murkrow.png);
  }

  &[archetype="flamigo"] {
    width: 24px;
    height: 37px;
    background-image: url(~src/assets/archetypes/flamigo.png);
  }

  &[archetype="energyless"] {
    background-position: -50px -50px;
  }
}