<div class="matchmaking-lobby">
  <div class="lobby-content">
    <div class="top-section">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LABEL_SELECT_FORMAT' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedFormat" [disabled]="inQueue"
          (selectionChange)="onFormatSelected($event.value)">
          <mat-option *ngFor="let format of formats" [value]="format.value">
            {{ format.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="deck-select">
      <mat-label>{{ 'GAMES_YOUR_DECK' | translate }}</mat-label>
      <mat-select [(ngModel)]="deckId" [disabled]="inQueue">
        <mat-option *ngFor="let deck of decksByFormat" [value]="deck.id">
          <div class="deck-option">
            <span>{{ deck.name }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button class="battle-button" (click)="joinQueue()" *ngIf="!inQueue" [disabled]="!deckId">
        <!-- <mat-icon>sports_kabaddi</mat-icon> -->
        {{ 'BUTTON_FIND_MATCH' | translate }}
      </button>

      <button mat-raised-button class="leave-button" (click)="leaveQueue()" *ngIf="inQueue">
        <!-- <mat-icon>exit_to_app</mat-icon> -->
        {{ 'BUTTON_LEAVE_QUEUE' | translate }}
      </button>
    </div>

    <div class="queue-status" *ngIf="inQueue">
      <h3>{{ 'LABEL_PLAYERS_IN_QUEUE' | translate }}</h3>
      <ul>
        <li *ngFor="let player of queuedPlayers">{{ player }}</li>
      </ul>
    </div>
  </div>
</div>