@import '../../../theme/variables.scss';

$ptcg-hand-padding: map-get($padding, normal);
$ptcg-hand-height: calc(var(--card-size) * #{$card-aspect-ratio} + #{4 * $ptcg-hand-padding});
$ptcg-hand-max-margin: map-get($padding, normal);

.ptcg-hand {
  margin-bottom: -80px;
  display: flex;
  height: 100px;
  justify-content: center;
}


.ptcg-hand-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  background: transparent;
  gap: 10px;
  transition: all 200ms ease;

  ptcg-card {
    flex: 0 0 auto;
    width: 88px;
    transition: transform .2s;
    transform: translateY(-45px);

    &.dragging {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1000;
      transform: rotate(5deg) scale(1.15) translateY(-40px);
    }

    &:not(.dragging) {
      transition: transform 200ms ease;
    }

    &:hover {
      transform: scale(1.15) translateY(-40px);
      z-index: 10;
    }
  }
}

dnd-sortable-list {
  display: flex;
}

ptcg-badge {
  position: absolute;
  width: 80%;
  padding: 5px;
  font-size: smaller;
  // z-index: 1;
}

ptcg-card {
  flex: 0 0 auto;
  width: 88px;
  transition: transform .2s;
  transform: translateY(-45px); // This will move the cards up

  &:hover {
    transform: scale(1.15) translateY(-40px); // Adjust this value as needed
    z-index: 10;
  }
}

// ptcg-card {
//   flex: 0 0 auto;
//   width: 98px;
//   margin: 3px;

//   &.draggable {
//     touch-action: none;
//   }

//   transition: transform .2s;

//   &:hover {
//     transform: scale(1.15) translateY(-12.5px); // Add translateY(-10px) to slide up 10px
//     z-index: 10;
//   }
// }

.ptcg-hand.opponent {
  position: static;
  z-index: 1;
  margin-top: -100px;
  transform: rotate(180deg);
  // margin: 0 auto;
  // display: flex;
  justify-content: center;
  height: 170px; // Add this line to set a fixed height
  // overflow: hidden; // Add this to prevent overflow
  // align-items: flex-end; // Add this to align cards to the bottom of the container

  // ptcg-hand.opponent ptcg-card {
  //   width: 80px;
  // }

  ptcg-card {
    width: 88px;
    transform: translateY(15px); // This will move the cards up

    &:hover {
      transform: scale(1.025) translateY(7.5px); // Change to positive value
    }
  }
}

// .ptcg-card-preview {
//   border-radius: $card-border-radius;
//   position: absolute;
//   width: 98px;
// }