<!-- <div class="ptcg-board-deck">
  <div class="deck-container">
    <ng-container *ngFor="let i of createRange(deck.cards.length); let idx = index">
      <ptcg-board-card (click)="onDeckClick()" [cardList]="deck" [owner]="isOwner" class="deck-card"
        [style.transform]="isOwner ? 'translate(' + (idx * 0.25) + 'px, ' + (idx * -0.25) + 'px)' : 'translate(' + (idx * 0.25) + 'px, ' + (idx * 0.25) + 'px)'"></ptcg-board-card>
    </ng-container>
  </div>

  <div class="discard-container">
    <ng-container *ngFor="let i of createRange(discard.cards.length); let idx = index">
      <ptcg-board-card (cardClick)="onDiscardClick($event)" [cardList]="discard" [owner]="isOwner" class="discard-card"
        [style.transform]="isOwner ? 'translate(' + (idx * 0.25) + 'px, ' + (idx * -0.25) + 'px)' : 'translate(' + (idx * 0.25) + 'px, ' + (idx * 0.25) + 'px)'"></ptcg-board-card>
    </ng-container>
  </div>
</div> -->