<div class="ptcg-deck-card">
  <ptcg-card [card]="card.card" [dragSource]="source" [noHTML5Preview]="true" (click)="onCardClick();"
    (mouseenter)="showButtons = true;" (mouseleave)="showButtons = false;">
    <div class="ptcg-deck-card-count" *ngIf="showCardCount && card.count > 0" (click)="onCountClick($event)">
      {{ 'DECK_CARDS_X' | translate:{count: card.count } }}
    </div>
    <button mat-mini-fab color="primary" *ngIf="showButtons && showDetailButtons" class="inspect-button"
      (click)="showCardInfo(); $event.stopPropagation()">
      <mat-icon>info_outline</mat-icon>
    </button>
  </ptcg-card>
</div>