<div class="vs-screen">
  <div class="image-container">
    <img src="https://i.imgur.com/cgxlMRq.png" width="276" height="276" alt="Pokemon TCG Board Center">
  </div>

  <div class="color-bars">
    <div class="bar-top"></div>
    <div class="bar-bottom"></div>
  </div>


  <div class="content">
    <div class="player-top">
      <!-- <img class="player-img" [src]="player1Avatar" alt="Player 1" /> -->
      <h3></h3>
    </div>

    <h2 class="vs"></h2>

    <div class="player-bottom">
      <h3></h3>
      <!-- <img class="player-img" [src]="player2Avatar" alt="Player 2" /> -->
    </div>
  </div>
</div>