<ptcg-content style="background-color: #1a202c; min-height: 100vh; display: flex; flex-direction: column;">

  <div class="terms-of-service">
    <h1 class="terms-title">TERMS AND CONDITIONS</h1>
    <p class="terms-last-updated">(Last updated: January 2024)</p>

    <h2 class="terms-section-header">1. INFORMATION ABOUT US</h2>
    <p>
      This platform is operated and owned by Twinleaf Limited whose registered address is Elsley Court, 20-22 Great
      Titchfield Street, London, W1W 8BE with registration number 15032941 (“we, us or our”).
    </p>

    <h2 class="terms-section-header">2. THIRD PARTY CONTENT</h2>
    <p>
      This platform may include third party platform links and other third-party materials such as posts, comments,
      videos, images, files and other content such as user generated content. We are not responsible for this content.
      We
      may moderate or otherwise check such content in some instances, but we are not required to do so.
    </p>
    <p>
      We are a mere conduit for the transmission, storage and retrieval of the relevant content. We do not intend to
      assess content for its legality, judgment or its compliance with these terms and conditions. A reporting system
      may
      be made available for these purposes, and you can let us know by contacting us at <a
        href="mailto:contact.twinleaf@gmail.com" class="email">contact.twinleaf@gmail.com</a>.
    </p>
    <p>
      Where we make available the functionality for you to upload any content, including any user generated content,
      without limitation, posts, videos, images, text and other communications, comments or other content or files, you
      will ensure and undertake that the content:
    </p>
    <ul>
      <li>is lawful and will not give rise to any actual or potential civil or criminal liability for you or us and does
        not promote unlawful or illegal activity (including without limitation in respect of the territory and local
        laws
        where you may upload such content)</li>
      <li>does not infringe the rights of any third party, including without limitation their intellectual property or
        privacy rights</li>
      <li>is not obscene, offensive, hateful, inflammatory or defamatory of any person</li>
      <li>does not knowingly transmit any data that contains viruses, Trojan horses, worms, time-bombs, keystroke
        loggers,
        spyware, adware or any other harmful programs or similar computer code designed to adversely affect the
        operation
        of any computer software or hardware</li>
      <li>does not harm or attempting to harm minors in any way</li>
      <li>does not commercially market any third party, product or organisation</li>
      <li>does not solicit, advocate, encourage or provoke directly or indirectly any of the foregoing or any breach of
        these terms and conditions.</li>
    </ul>

    <h2 class="terms-section-header">3. LIABILITY</h2>
    <p>
      Any views expressed on the platform are the views of the authors of such views and not us, unless we expressly
      state
      otherwise.
    </p>
    <p>
      The content you may access or download is provided without any guarantees, conditions or warranties as to its
      accuracy. To the extent permitted by law, we hereby expressly exclude:
    </p>
    <ul>
      <li>All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law
        of
        equity.</li>
      <li>Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with
        the platform or in connection with the use, inability to use, or results of the use of our platform, any
        websites
        linked to it and any materials posted on it.</li>
    </ul><br>
    <p>
      This does not affect our liability for death or personal injury arising from our negligence, nor our liability for
      fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot
      be excluded or limited under applicable law.
    </p>
  </div>
</ptcg-content>